<!-- The content below is only a placeholder and can be replaced. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BITACORAS ONAIR</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ejecuciont']">Grafica Totales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ejecuciond']">Historico Registros</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        Registro Actividades
      </button>
    </form>
  </div>
</nav>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          Registro de Actividades
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Estacion Base</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Ingrese Estacion Base"
            />
            <label for="exampleInputPassword1">Tecnologia</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Tecnologia"
            />
            <label for="exampleInputPassword1">Banda</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Banda"
            />
            <label for="exampleInputPassword1">Tipo de Trabajo</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Tipo de Trabajo"
            />
            <label for="exampleInputPassword1">Estado Inicial</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Estado Inicial"
            />
            <label for="exampleInputPassword1">Estado Final</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Estado Final"
            />
            <!--
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            -->
          </div>
          <div class="form-group form-check-inline">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >No Exitoso</label
            >
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck2"
            />
            <label class="form-check-label" for="exampleCheck2">Standby</label>
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck3"
            />
            <label class="form-check-label" for="exampleCheck3">Prorroga</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <!--
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        -->
      </div>
    </div>
  </div>
</div>
<div style="text-align:center">
  <h1>{{ title }}!</h1>
  <img
    width="300"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>